
  /* gradient for the background */
body {
  height: 640px;
  background: linear-gradient(180deg, #A64252 0%, #731A28 51%, #4E020E 75%);
}
/* the top image and title */
.center .title {
  vertical-align: middle;
  }
.horizontal-center {
  font-family:'Solway', serif;
  margin: 0;
  Position: fixed;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img {
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* for menu */

body {
  margin: 0;
  font-family:'Solway', serif;
}

.topnav {
  overflow: hidden;
  background-color: #F36E83;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   width: 17.6%;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}
