
  /* gradient for the background */
body {
  height: 1000px;
  background: linear-gradient(180deg, #A64252 0%, #731A28 51%, #4E020E 75%);
}
/* the top image and title */
.center .title {
  vertical-align: middle;
  }
.horizontal-center {
  font-family:'Solway', serif;
  margin: 0;
  Position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img {
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* for menu */

body {
  margin: 0;
  font-family:'Solway', serif;
}

.topnav {
  overflow: hidden;
  background-color: #F36E83;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   width: 17.6%;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}
/* For content on home page */
.theimage {
    border-radius: 50%;
    position:absolute;
    top:190px;
    left:50px;
  }
.content {
  margin-top: 5%;
  margin-left: 40%;
    font-family:'Solway', serif;
    font-size: 15px;
    border:3px solid white;
    border-style: dotted;
    border-radius: 12px;
    width: 350px;
    overflow: hidden;
    color: #fff;
  }

.content p:hover {
  text-decoration: underline;
}
.content ul {
   overflow: hidden;
 }

.container1 {
  max-width: 1000px;
  margin: 0 auto;
}
/* For submit box on Contact Page */
.box{
  font-family:'Solway', serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
